.papersContainer {
    display: flex;
    flex-direction: row;
}

.papersLeft, .papersRight{
    flex: 1 1 50%;
}

@media screen and (max-width: 768px) {
    .papersContainer {
        flex-direction: column;
    }
    .papersLeft, .papersRight{
        flex: 1 1 50%;
    }
}