.papersContainer {
    display: flex;
    flex-direction: row;
}

.paperList > div {
    margin-bottom: 1em;
}

@media screen and (max-width: 768px) {
    .papersContainer {
        flex-direction: column;
    }
}