/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 5rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-image: url(/img/circuit.jpeg);
  color: white;
}

.bannerBox {
  background-color: rgb(20, 40, 80);
  text-align: left;
  
  display: flex;
  flex-direction: row;
  width: 100%;
}

.bannerLeft {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
  padding: 8% 4% 0 4%;
}

.bannerImg {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
}

.bannerImg > img {
  width: 100%;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hiw {
  display: grid;
  grid-template-columns: 12% auto;
  grid-template-rows: repeat(5, auto);
  row-gap: 2em;
}

.hiw svg {
  width: 80%;
  stroke-width: 2px;
  color: skyblue;
}

.contributing {
  display: grid;
  grid-template-columns: 15% auto;
  grid-template-rows: repeat(5, auto);
  row-gap: 2em;
}

.contributing img {
  width: 80%;
  margin: 10%;
  border-radius: 50%;
}

.organizersLeft {
  display: flex;
  flex: 1 1 57%;
  max-width: 57%;
  margin: 3em 0;
}
.organizersRight {
  display: flex;
  flex: 1 1 43%;
  max-width: 43%;
  justify-content: center;
  align-items: center;
}
.organizersRight > div {
  margin-left: 15%;
}
.organizersRight h3 {
  font-weight: 700;
}

.organizersList {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(3, auto);
  row-gap: 2em;
  text-align: center;
}
.organizersList h4 {
  margin: 0.5em 0 0 0;
}
.organizersList p {
  font-size: 0.8em;
}

.organizersList img {
  width: 50%;
  border-radius: 33%;
}