/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 5rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-image: url(/img/circuit.jpeg);
  color: white;
}
.bannerH1 {
  background-color: rgba(20, 40, 80, 0.8);
  padding: 2em auto;
}
.bannerH1 h1 {
  margin: 0%;
  padding: 20px;
}
.bannerBox {
  background-color: rgba(20, 40, 80, 0.9);
  text-align: left;
  
  display: flex;
  flex-direction: row;
  width: 100%;
}

.bannerBottom {
  background-color: rgba(20, 40, 80, 0.8);
  padding-bottom: 20px;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about {
  display: flex;
  flex-direction: row;
}
.aboutLeft {
  flex: 1 1 50%;
}
.aboutRight {
  flex: 1 1 50%;
  padding-top: 3em;
}

.dataset {
  display: flex;
  flex-direction: row-reverse;
}
.datasetLeft {
  flex: 1 1 60%;
  display: grid;
  grid-template-columns: 15% auto;
  grid-template-rows: repeat(5, auto);
  row-gap: 1em;
}
.datasetLeft h3 {
  margin: 0 auto 0.3em 0;
}

.datasetLeft img {
  width: 80%;
  stroke-width: 2px;
  color: skyblue;
}

.datasetRight {
  flex: 1 1 40%;
}

/** In mobile view, switch to single column */
@media screen and (max-width: 768px) {
  .dataset {
    flex-direction: column;
    align-items: center;
  }
  .datasetLeft, .datasetRight {
    flex: 1 1 auto;
  }
  .datasetRight {
    margin: 2em auto;
    max-width: 400px;
  }
}

