.paperContainer {
    padding: 1em;
}

.title {
    display: inline;
    font-weight: 500;
}
.date {
    margin: 0 1em;
    font-size: 0.8em;
}

.authors {
    display: block;
    font-size: 0.85em;
}

.publication {
    font-style: italic;
    font-size: 0.85em;
    display: block;
}

.url {
    float: right;
}