.paperContainer {
    padding: 0.5em 0.8em;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 5px;
}

.title {
    display: inline;
    font-weight: 500;
}
.date {
    margin: 0 1em;
    font-size: 0.8em;
}

.authors {
    display: block;
    font-size: 0.85em;
}

.publication {
    font-style: italic;
    font-size: 0.85em;
    display: block;
}

.url {
    float: right;
}